.nav {
  position: absolute;
  left: 0;
  right: 0;
  top: $spacer;

  ul {
    padding: 0;
    list-style: none;
    font-family: $ff-serif;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
  }

  a {
    color: gray(1);
    text-decoration: none;
  }
}

.logo {
  display: none;

  @include mq(small) {
    display: inline-block;
    width: 120px;
    height: 120px;
    & > g > path {
      fill: gray(1);
    }
  }
}
