.testimonials {
  @include limit-width();
  margin-top: $spacer;

  @include mq(big) {
    @include grid();
  }
}

.testimonial {
  box-shadow: $box-shadow;
  margin-bottom: $spacer;

  &__body {
    padding: $spacer;
  }

  &__credit {
    background: gray(2);
    padding: $spacer;
  }

  &__name {
    font-weight: $fw-bold;
    margin: 0;
    @include underline($margin: 0.5em, $width: 50px) {
      opacity: 0.25;
    }
  }

  &__position {
    font-size: 0.9em;
    color: gray(3);
    margin: 0;
  }
}
